<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework Engine</title>
    <link rel="icon" type="image/x-icon" href="../static/styles/images/pencil-solid 1.svg">
    <link rel="stylesheet" href="../static/main.css" />
</head>
<body>
    <main>
        <div class="welcome-container">
            <h2>HE Chat Demo</h2>
        </div>
    </main>
    <script src="../static/app.js" type="module"></script>
</body>
</html>